.main-header{
    background-color: var(--cinza-claro);
    font-family: 'dancing';
    background-color: var(--branco);
}

.main-nav{
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.menu li a{
 color: var(--preto);
}


.main-nav>img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px 50px;
}

.menu{
    display: inline-flex;
    align-items: center;
    gap: 9rem;
    margin-right: 1rem;
    text-shadow: -6px -1px 6px var(--roxo-claro);
}