.main {
    height: 100vh;
    display: flex;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 2rem;
    text-align: center;
}


.conteiner-ft>img {
    width: 12rem;
    height: 13rem;
    border-radius: 50%;
    box-shadow: 4px -1px 69px 11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px -1px 69px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px -1px 69px 11px rgba(0,0,0,0.75);
}

.conteiner-ft>h1{
    padding-bottom: 1.5rem;
}