.main {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}


.conteiner-ft>img {
    padding: 2rem;
    width: 15rem;
    height: 17rem;
    border-radius: 50%;
}

.conteiner-ft>h1{
    padding-bottom: 1.5rem;
}