.main-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'dancing';
}

.main-conteiner>h1 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.section-serviços {
    width: 100%;
    background-color: var(--branco);
}

.section-serviços>h1 {
    font-size: 3rem;
    margin-top: 1.5rem;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 550;
}

.main-conteiner .section-serviços img {
    height: 10rem;
    width: 90%;
    border-radius: 5px;
}

.conteiner-unha {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5rem;
}


.box {
    text-align: center;
    padding-top: 1rem;
    width: 15rem;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    border: 1px solid;
    -webkit-box-shadow: -2px 3px 18px 7px var(--roxo-claro);
    -moz-box-shadow: -2px 3px 18px 7px var(--roxo-claro);
    box-shadow: -2px 3px 18px 7px var(--roxo-claro);
}

.box>p {
    margin: 10px;
}

.box>h1 {
    font-size: 2rem;
    padding: 10px;
}