:root {
    --roxo-alegre: #693280;
    --branco: #fff;
    --roxo-escuro: #2a1433;
    --roxo-rosa: #a35ebf;
    --roxo-claro: #cfaadd;
    --roxo-terceiro: #b277c9;
    --dourado: #ffc746;
    --preto: #000;
}

body {
    font-family: 'dancing';
    background-image: url(./../imagens/fundo-texturizado-aquarela-salpicado-abstrato_187069-11566.avif);
    background-repeat: no-repeat;
    background-size: cover;
}